* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Helvetica', sans-serif;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3rem;
  padding: 1rem;
}

h1.heading {
  font-family: "Press Start 2P", sans-serif;
  word-spacing: -2.5rem;
  font-size: 3rem;
}

h2.rule {
  font-weight: 100;
}

.rules-container button {
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  background-color: #e0e0e0;
  font-family: "Press Start 2P", sans-serif;
  /* color: white; */
  word-spacing: -0.3rem;
  /* box-shadow: 0 2px 4px rgba(0,0,0,0.15); */
}

.rules-content {
  border: 2px solid black;
  border-radius: .5rem;
  line-height: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  font-family: "Press Start 2P", sans-serif;
  font-size: .6rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
}

.buttons button {
  width: 200px;
  height: 45px;
  border: none;
  border-radius: 2rem;
  background-color: #e0e0e0;
  font-family: "Press Start 2P", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 0;
  letter-spacing: 0;
  word-spacing: 0;
  text-align: center;
  transform: translateX(2.5px);
}

button:hover {
  color: white;
  background-color: black;
}

.results {
  font-family: "Press Start 2P", sans-serif;
  font-size: 0.8rem;
  transform: translateX(1px);
}

.win {
  color: #2ecc71;
}

.lose {
  color: #e74c3c;
}